<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
    <a href="./"><h1>fyneUI Library</h1></a>
    <p>
      This a a sample page of how Fyneworks enquiry forms can be integrated with any website
    </p>
    <p>
      This page has a single script injection, <a href="./fyne.js">fyne.js</a>
    </p>
    <p>
      fyne.js will listen for any triggers (ie.: a click), then it will load and launch the form on demand.
    </p>
    <p>
      Example 1, <strong>lazy loaded as a dialog</strong> <a href="#" rel="<%= REACT_APP_FWX_FORM %>-dialog">click here to make an enquiry</a>.
    </p>
    <p>
      Example 2, <strong>lazy-loaded into an element</strong> <a href="./inline.html">rendered in a div</a>
    </p>
    <p>
      Example 3, <a href="./dynamic.html">dynamically in matching divs</a> using a mutation observer
    </p>
    <p>
      Example 4, <a href="./direct.html">rendered in a div</a>, all dependencies fully loaded in a single bundle
    </p>
    <p>
      Example 5, invoke fyneworks programatically by running <code>fwx.fyne.<%= REACT_APP_FWX_FORM %>.show()</code>
    </p>

</html>